<div class="container">
  <h1 class="my-4">Oglasi</h1>
  <div class="d-flex align-items-center gap-2 flex-wrap my-3">
    <label for="itemsPerPage" class="mb-0">Prikaži</label>
    <select
      id="itemsPerPage"
      class="form-select form-select-sm w-auto"
      aria-label="Select items per page"
      [(ngModel)]="itemsPerPage"
    >
      <option [value]="10">10</option>
      <option [value]="20">20</option>
    </select>
  </div>

  @if (paginatedProducts.length > 0) {
    <!-- Proizvodi -->
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
      @for (product of paginatedProducts; track product.id) {
        <div class="col">
          <div class="card h-100">
            <div class="w-100" style="aspect-ratio: 238 / 160">
              <img
                ngSrc="{{ product.imageUrl }}"
                class="card-img-top object-fit-cover w-100 h-100"
                alt="{{ product.name }}"
                width="238"
                height="160"
                priority
              />
            </div>
            @if (isLoggedIn && loggedInUserId === product.id) {
              <div class="card-img-overlay">
                <span class="bg-light p-2 rounded-5 me-2"
                  ><i class="bi bi-pencil-square text-primary"></i
                ></span>
                <span class="bg-light p-2 rounded-5"
                  ><i class="bi bi-trash3-fill text-danger"></i
                ></span>
              </div>
            }
            <div class="card-body">
              <h2 class="card-title fs-6">{{ product.name }}</h2>
              <p class="card-subtitle text-secondary">{{ product.city }}</p>
              <div class="py-2 d-flex gap-2 flex-wrap">
                <span class="border border-dark-subtle rounded-1 p-1 fs-7">{{
                  product.category
                }}</span>
              </div>
              <p class="fw-bold fs-5 mt-2 mb-0">
                {{ product.price | currency: "EUR" }}
              </p>
            </div>
          </div>
        </div>
      }
    </div>

    <!-- Paginacija -->
    <nav aria-label="Page navigation" class="my-5">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">
            Previous
          </button>
        </li>

        @for (page of pages; track page) {
          <li class="page-item" [class.active]="page === currentPage">
            <button class="page-link" (click)="changePage(page)">
              {{ page }}
            </button>
          </li>
        }

        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(currentPage + 1)">
            Next
          </button>
        </li>
      </ul>
    </nav>
  } @else {
    <div class="alert alert-info" role="alert">Nema oglasa za prikaz.</div>
  }
</div>
