<div
  class="login-container container d-flex justify-content-center align-items-center"
>
  <div class="card login-card w-100">
    <div class="card-body">
      <h2 class="card-title text-center">Novi oglas</h2>
      <form [formGroup]="newAdForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="naziv-oglasa"
            placeholder="iPhone 16 Pro Max"
            formControlName="title"
            [class.is-invalid]="
              titleControl.invalid && (titleControl.touched || titleControl.dirty)
            "
          />
          <label for="naziv-oglasa">Naziv oglasa</label>
          @if (titleControl.invalid && (titleControl.touched ||
            titleControl.dirty)) {
            <div class="invalid-feedback d-block">
              @if (titleControl.errors?.["required"]) {
                <div>Naziv je obavezan.</div>
              }
              @if (titleControl.errors?.["minlength"]) {
                <div>Naziv mora imati bar 3 karaktera.</div>
              }
            </div>
          }
        </div>

        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            placeholder="Opišite proizvod u kratkim crtama..."
            id="opis-oglasa"
            style="height: 80px"
            formControlName="description"
            [class.is-invalid]="
              descriptionControl.invalid &&
              (descriptionControl.touched || descriptionControl.dirty)
            "
          ></textarea>
          <label for="opis-oglasa">Opis oglasa</label>
          @if (descriptionControl.invalid && (descriptionControl.touched ||
            descriptionControl.dirty)) {
            <div class="invalid-feedback d-block">
              @if (descriptionControl.errors?.["required"]) {
                <div>Opis je obavezan.</div>
              }
            </div>
          }
        </div>

        <div class="form-floating mb-3">
          <input
            type="number"
            class="form-control"
            id="cijena"
            placeholder="1000"
            formControlName="price"
            [class.is-invalid]="
              priceControl.invalid &&
              (priceControl.touched || priceControl.dirty)
            "
          />
          <label for="cijena">Cijena proizvoda</label>
          @if (priceControl.invalid && (priceControl.touched ||
            priceControl.dirty)) {
            <div class="invalid-feedback d-block">
              @if (priceControl.errors?.["required"]) {
                <div>Cijena je obavezna.</div>
              } @if (priceControl.errors?.["min"]) {
              <div>Cijena mora biti pozitivan broj.</div>
            }
            </div>
          }
        </div>

        <hr />

        <div class="mb-3">
          <label for="fotografija-proizvoda" class="form-label"
          >Fotografija proizvoda</label
          >
          <input
            class="form-control"
            type="file"
            id="fotografija-proizvoda"
            (change)="onFileChange($event)"
            [class.is-invalid]="
              imageControl.invalid &&
              (imageControl.touched || imageControl.dirty)
            "
          />
          @if (imageControl.invalid && (imageControl.touched ||
            imageControl.dirty)) {
            <div class="invalid-feedback d-block">
              @if (imageControl.errors?.["required"]) {
                <div>Slika je obavezna.</div>
              } @if (imageControl.errors?.["fileType"]) {
              <div>Dozvoljeni formati su JPEG, PNG i GIF.</div>
            } @if (imageControl.errors?.["fileSize"]) {
              <div>Maksimalna veličina fajla je 5MB.</div>
            }
            </div>
          }
        </div>

        <select
          class="form-select mb-3"
          aria-label="Kategorija proizvoda"
          formControlName="category"
          [class.is-invalid]="
            categoryControl.invalid &&
            (categoryControl.touched || categoryControl.dirty)
          "
        >
          <option value="" disabled>Izaberite kategoriju</option>
          <option value="odjeća i obuća">Odjeća i obuća</option>
          <option value="alati">Alati</option>
          <option value="sport i rekreacija">Sport i rekreacija</option>
          <option value="aksesoari">Aksesoari</option>
          <option value="namještaj">Namještaj</option>
          <option value="ljubimci">Ljubimci</option>
          <option value="igre">Igre</option>
          <option value="knjige">Knjige</option>
          <option value="tehnika">Tehnika</option>
        </select>
        @if (categoryControl.invalid && (categoryControl.touched ||
          categoryControl.dirty)) {
          <div class="invalid-feedback d-block">
            <div>Kategorija je obavezna.</div>
          </div>
        }

        <select
          class="form-select mb-3"
          aria-label="Grad"
          formControlName="city"
          [class.is-invalid]="
            cityControl.invalid && (cityControl.touched || cityControl.dirty)
          "
        >
          <option value="" disabled>Izaberite grad</option>
          <option value="beograd">Beograd</option>
          <option value="novi-sad">Novi Sad</option>
          <option value="nis">Niš</option>
          <option value="subotica">Subotica</option>
          <option value="kragujevac">Kragujevac</option>
          <option value="zrenjanin">Zrenjanin</option>
          <option value="leskovac">Leskovac</option>
          <option value="valjevo">Valjevo</option>
          <option value="cacak">Čačak</option>
          <option value="senta">Senta</option>
        </select>
        @if (cityControl.invalid && (cityControl.touched || cityControl.dirty))
        {
          <div class="invalid-feedback d-block">
            <div>Grad je obavezan.</div>
          </div>
        } @if (serverError) {
        <div class="alert alert-danger" role="alert">
          {{ serverError }}
        </div>
      }

        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="newAdForm.invalid"
        >
          Objavi oglas
        </button>
      </form>
    </div>
  </div>
</div>
